/* CONFIGURAÇÕES GERAIS (RESET) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* BODY */
body {
    background-color: #F0F5FC;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

/* CABEÇALHO (header) */
header {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 5px 10px 0 #00000022;
    flex-grow: 0;
    position: relative;
}

/* CONFIGURAÇÕES DOS LINKS ATRAVÉS DO CONTÂINER DOS MESMOS(ul) */
header #first_menu ul {
    display: flex;
    justify-content: space-between;
    width: 25vw;
    font-size: 125%;
    letter-spacing: 4px;
    font-weight: bold;
}

header #first_menu ul div {
    width: 100%;
    transition-property: width transform;
    transition-duration: .5s;
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 3px;
}

header #first_manu ul div li {
    user-select: none;
}

@keyframes menu_user_ux {
    to {
        transform: scale(1.1);
    }
}

.animation_underline {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.animation_underline::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: orange;
    position: absolute;
    transition-property: width;
    transition-duration: .5s;
}

.animation_underline:hover::after {
    width: 130%;
}

#button_menu .container {
    overflow: hidden;
    display: flex;
    gap: 0 -10px;
    width: 0%;
    height: 0%;    
    transition-property: width height;
    transition-duration: .5s;    
}

label {
    pointer-events: none;
}

#button_menu {
    position: absolute;
    right: 40px;
    font-size: 300%;
    transform: rotate(90deg);
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width: 1302px) {

    header #first_menu ul div {
        width: 0%;
    }
    
    header #first_menu ul {
        pointer-events: none;
    }

    #button_menu .container {
        width: 100%;
    }

    label {
        pointer-events: stroke;
    }
}

#menu_check {
    display: none;
}

label span {
    transition-property: transform;
    transition-duration: .5s;
}

#menu_check:checked ~ label span:nth-child(1) {
    transform: translate(120%, 0) rotate(45deg);
}

#menu_check:checked ~ label span:nth-child(2) {
    transform: scale(0);
}

#menu_check:checked ~ label span:nth-child(3) {
    transform: translate(-120%, 0) rotate(-45deg);
}

/* SEGUNDO MENU */

#second_menu ul {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 20px 0;
    overflow: hidden;
    height: 0px;
    transition-property: height;
    transition-duration: .5s;
}

#second_menu ul li {
    width: max-content;
}

@media screen and (max-width: 1302px) {
    #menu_check:checked ~ #second_menu ul {
        height: 232px;
    }
}

#second_menu {
    position: absolute;
    top: 100%;
    left: 0;
}

#second_menu ul li {
    margin: 20px;
    cursor: pointer;
    font-size: 130%;
}

/* TÍTULO PRINCIPAL(h1) */
h1 {
    color: #01b5b5;
    letter-spacing: 8px;
    text-shadow: 2px 2px 3px #00000044;
    user-select: none;
    font-size: min(32px, 6vw);
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:40px 0;
}

main div {
    background-color: #1D1C1E;
    color: #fff;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 15px;
    font-size: min(3.5vw, 150%);
}

main div #result {
    letter-spacing: 6px;
    text-transform: uppercase;
} 

main button {
    --move: 6px;
    border: 0;
    background-color: #1D1C1E;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 120%;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: var(--move) var(--move) 0px #d000ff91, calc(-1*var(--move)) calc(-1*var(--move)) 0px #00d0ff91;
    transition-property: box-shadow transform;
    transition-duration: .2s;
}

main button:hover {
    --move: -6px;
    transform: scale(1.05);
}

main button:active {
    transform: scale(.96);
    --move: 6px;
}

#notification {
    position: absolute;
    right: -80vw;
    bottom: -80px;
    border: 2px solid red;
    padding: 20px;
    border-radius: 30px 30px 0px 30px;
    background-color: #F0F5FC;
    transition-property: right;
    transition-duration: 2s;
    z-index: 1;
}











